#regexString {
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  margin-right: 10px;
}

#minOcc {
  width: 10%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
/* For bubble message */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next {
  background-color: #4cafa2;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.round {
  border-radius: 50%;
}
/*  The loader Spinner */
.spinner-grow {
  width: 150px !important;
  height: 150px !important;
}

/*  Zebra table*/
my-component tr:nth-child(even) {
  background-color: #f2f2f2
}

my-component table {
  border-spacing: 5px;
}

my-component td {
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}

my-component th, my-component .orgName{
  cursor: pointer;
}


/*  Div hidden */
my-component .occurences {
  display: none;
  font-weight: normal  !important;
  cursor: default;
  padding-bottom: 5px;
}


my-component #box {
  display: grid;
  grid-template-columns: 70% 30%;;
}

my-component .coordBox{
    padding-left: 15px;
    display: none;

}
