.main-table{
  font-family: "Helvetica Neue", Helvetica, Arial;
}
#regexString {
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  margin-right: 10px;
}

#minOcc {
  width: 10%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
/* For bubble message */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #6da7c3b3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(103, 203, 222, 0.9) transparent transparent;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next {
  background-color: rgba(239, 71, 111);
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.round {
  border-radius: 50%;
}

/*  The loader Spinner */
.spinner-grow {
  width: 150px !important;
  height: 150px !important;
}

input {
  border-radius:5px;
}
